.navbar--custom {
  background-color: #719e09;
}

#logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.7em;
  color: #fff;

  &:hover {
    text-decoration: none;
    color: #fff;
  }

}
